In [1]:
numbers = [1, 2, 3, 4, 5]

sum_of_numbers = sum(numbers)

print("The sum of the numbers is:", sum_of_numbers)

The sum of the numbers is: 15

In [2]:
numbers = [12, 45, 7, 23, 56, 89, 34]

# Initialize largest and smallest with the first element of the list
largest = numbers[0]
smallest = numbers[0]

# Iterate over the list
for num in numbers:
    # Check if current number is larger than largest
    if num > largest:
        largest = num
    # Check if current number is smaller than smallest
    if num < smallest:
        smallest = num

print("Largest number is:", largest)
print("Smallest number is:", smallest)

Largest number is: 89
Smallest number is: 7

In [3]:
numbers = [1, 2, 3, 4, 2, 7, 8, 8, 9]

duplicates = []
for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] == numbers[j] and numbers[i] not in duplicates:
            duplicates.append(numbers[i])

if duplicates:
    print("Duplicate values are:", duplicates)
else:
    print("No duplicate values found.")

Duplicate values are: [2, 8]

In [4]:
original_list = [1, 1, 2, 3, 4, 4, 5, 1]
first_part_length = 3

first_part = original_list[:first_part_length]
second_part = original_list[first_part_length:]

print("Original list:", original_list)
print("Splitted list:", (first_part, second_part))

Original list: [1, 1, 2, 3, 4, 4, 5, 1]
Splitted list: ([1, 1, 2], [3, 4, 4, 5, 1])

In [5]:
original_list = ['red', 'green', 'white', 'black']

print("Original list:", original_list)

for i in range(len(original_list) - 1, -1, -1):
    print(original_list[i])

Original list: ['red', 'green', 'white', 'black']
black
white
green
red

In [6]:
test_dict = {"A": 6, "B": 9, "C": 5, "D": 7, "E": 4}

# Calculate the mean
mean = sum(test_dict.values()) / len(test_dict)

print("Mean:", mean)

Mean: 6.2

In [10]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

# Concatenate the dictionaries using the {**dict1, **dict2, **dict3} syntax
new_dict = {**dic1, **dic2, **dic3}

print("Concatenated Dictionary:", new_dict)

Concatenated Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

print("Key\tValue")
for key, value in dict_num.items():
    print(f"{key}\t{value}")

Key	Value
1	10
2	20
3	30
4	40
5	50
6	60

In [12]:
input_dict = {1: 10, 2: 20, 3: None, 4: 40, 5: None, 6: 60}

# Create a new dictionary with only the items that have non-None values
output_dict = {key: value for key, value in input_dict.items() if value is not None}

print("dict with empty items Dropped :")
print(output_dict)

dict with empty items Dropped :
{1: 10, 2: 20, 4: 40, 6: 60}

In [13]:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)

count = tuplex.count(4)

print("The number 4 appears", count, "times in the tuple.")

The number 4 appears 3 times in the tuple.

In [14]:
listx = [5, 10, 7, 4, 15, 3]

# Convert the list to a tuple using the tuple() function
tuplex = tuple(listx)

print(tuplex)

(5, 10, 7, 4, 15, 3)

In [15]:
tuples_list = [(1, 2), (3, 4), (5, 6)]

# Calculate the sum of the numbers in the tuple
total_sum = sum(num for tup in tuples_list for num in tup)

print("sum of tuple is :", total_sum)

sum of tuple is : 21

In [16]:
# Define the employee tuples
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

# Define a list of employee tuples
employees = [employee1, employee2, employee3]

# Print the employee records
print("Employee Records :")

for employee in employees:
    # Unpack the employee tuple
    name, employee_id, department, salary = employee
    
    # Print the employee record
    print("\nName : ", name)
    print("Employee ID : ", employee_id)
    print("Department : ", department)
    print("Salary : ", salary)

Employee Records :

Name :  John Doe
Employee ID :  101
Department :  Human Resources
Salary :  60000

Name :  Alice Smith
Employee ID :  102
Department :  Marketing
Salary :  55000

Name :  Bob Johnson
Employee ID :  103
Department :  Engineering
Salary :  75000

In [17]:
# Define the input sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Use the union operator to get unique items from both sets
unique_items = set1.union(set2)

print(unique_items)

{70, 40, 10, 50, 20, 60, 30}

In [18]:
# Define the input sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Use the symmetric difference operator to get elements present in Set A or B, but not both
result = set1.symmetric_difference(set2)

print(result)

{20, 70, 10, 60}

In [19]:
# Define the input sets
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Check if the sets have any elements in common
if set1.intersection(set2):
    print("The sets have common elements:")
    print(set1.intersection(set2))
else:
    print("The sets have no common elements.")

The sets have common elements:
{10}

In [20]:
# Define the input sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Remove items from set1 that are not common to both set1 and set2
set1.intersection_update(set2)

print(set1)

{40, 50, 30}