In [18]:
# creating a csv file using pandas and enter values

import pandas as pd
data = {
'OrderID': [101, 102, 103, 104, 105],
'Product': ['Widget', 'Gadget', 'Widget', 'Doodad', 'Widget'],
'Quantity': [10, 5, 0, 7, 15],
'Status': ['Shipped', 'Canceled', 'Canceled', 'Shipped','Shipped']
}
df = pd.DataFrame(data)
csv_file_path = 'data.csv'
df.to_csv(csv_file_path, index=False)
print("the data has been inserted in the csv file")

the data has been inserted in the csv file

In [19]:
# read data from a csv file

data_df = pd.read_csv('data.csv')
print(data_df)

   OrderID Product  Quantity    Status
0      101  Widget        10   Shipped
1      102  Gadget         5  Canceled
2      103  Widget         0  Canceled
3      104  Doodad         7   Shipped
4      105  Widget        15   Shipped

In [22]:
# read conditional data from a csv file 

data_df = pd.read_csv('data.csv',nrows=2,usecols=["OrderID","Product","Status"])
print(data_df)

   OrderID Product    Status
0      101  Widget   Shipped
1      102  Gadget  Canceled

In [32]:
# head function

data_df = pd.read_csv('data.csv')
data_df.head(3)

   OrderID Product  Quantity    Status
0      101  Widget        10   Shipped
1      102  Gadget         5  Canceled
2      103  Widget         0  Canceled

In [33]:
# tail function

data_df = pd.read_csv('data.csv')
data_df.tail(2)

   OrderID Product  Quantity   Status
3      104  Doodad         7  Shipped
4      105  Widget        15  Shipped

In [30]:
# info function

# The info() function in Pandas is used to display a concise summary of the metadata and
# information about a DataFrame, including the data types, non-null counts, and memory
# usage.

data_df = pd.read_csv('data.csv')
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   5 non-null      int64
 1   Product   5 non-null      object
 2   Quantity  5 non-null      int64
 3   Status    5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

In [31]:
# describe function

# The describe() function in Pandas is used to generate various summary statistics for
# numerical columns in a DataFrame. It provides statistics such as count, mean, standard
# deviation, minimum, maximum, and quartiles.

data_df = pd.read_csv('data.csv')
data_df.describe()

          OrderID  Quantity
count    5.000000   5.00000
mean   103.000000   7.40000
std      1.581139   5.59464
min    101.000000   0.00000
25%    102.000000   5.00000
50%    103.000000   7.00000
75%    104.000000  10.00000
max    105.000000  15.00000

In [35]:
#value count function

data_df = pd.read_csv('data.csv')
print(data_df['Status'].value_counts())

Status
Shipped     3
Canceled    2
Name: count, dtype: int64

In [36]:
# dropna function

# The dropna() function in Pandas is used to remove missing or NaN (Not-a-Number)
# values from a DataFrame or Series. It allows you to clean our data by eliminating rows
# or columns that contain missing values.

data_df = pd.read_csv('data.csv')
data_df.dropna()

   OrderID Product  Quantity    Status
0      101  Widget        10   Shipped
1      102  Gadget         5  Canceled
2      103  Widget         0  Canceled
3      104  Doodad         7   Shipped
4      105  Widget        15   Shipped

In [37]:
# duplicated function

# The duplicated() function in Pandas is used to identify and mark duplicated rows in a
# DataFrame or Series. It returns a Boolean Series that indicates whether each row is a
# duplicate of a previous row (or multiple previous rows).

data_df = pd.read_csv('data.csv')
data_df.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [38]:
# drop duplicates Function

# The drop_duplicates() function in Pandas is used to remove duplicate rows from a
# DataFrame. It allows you to eliminate rows that have the same values in specified
# columns, leaving only one unique occurrence of each set of values.

data_df = pd.read_csv('data.csv')
data_df.drop_duplicates()

   OrderID Product  Quantity    Status
0      101  Widget        10   Shipped
1      102  Gadget         5  Canceled
2      103  Widget         0  Canceled
3      104  Doodad         7   Shipped
4      105  Widget        15   Shipped

In [2]:
# Save the cleaned dataset in a new csv file

import pandas as pd

data = pd.read_csv('data.csv', header=0)
print("Before removing checking no of row and col")
print(data.shape)

#Remove duplicate values
data.drop_duplicates(inplace=True)

print("After removing checking no of row and col")
print(data.shape)
data.dropna(inplace=True)
print("After removing Nan values no of row and col")
print(data.shape)

#Save the files
data.to_csv('cleaned_data.csv', index=False)
print("Data Saved ")

Before removing checking no of row and col
(5, 4)
After removing checking no of row and col
(5, 4)
After removing Nan values no of row and col
(5, 4)
Data Saved