In [2]:
import pandas as pd

# Sample dataset
data = {
    'Transaction_ID': [152443, 151244, 153071, 153699, 151200, 152000, 151800],
    'Age': [45, 47, 60, 32, 78, 55, 25],
    'Referal': [1, 0, 1, 1, 1, 0, 0],
    'Amount_spent': [1200.45, 1341.44, 1500.67, 250.50, 2999.98, 1899.99, 2045.56]
}

# Convert the data dictionary into a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('students_data.csv', index=False)

# Print the data
print("Sample Data:")
print(df)

Sample Data:
   Transaction_ID  Age  Referal  Amount_spent
0          152443   45        1       1200.45
1          151244   47        0       1341.44
2          153071   60        1       1500.67
3          153699   32        1        250.50
4          151200   78        1       2999.98
5          152000   55        0       1899.99
6          151800   25        0       2045.56

In [3]:
# Calculating Basic statistical measurement

import pandas as pd
# Provide the path to your CSV file
csv_file_path = 'students_data.csv' # Replace with the actual path to your CSV file
# Use read_csv to read the data from the CSV file into a DataFrame
df = pd.read_csv('students_data.csv')
# Calculate Mean
mean = df['Age'].mean()
# Calculate Median
median = df['Age'].median()
#Calculate Mode
mode = df['Age'].mode().iloc[0]
# Calculate standard deviation
std = df['Age'].std()
# Calculate Minimum values
minimum = df['Age'].min()
# Calculate Maximum values
maximum = df.Age.max()
print(f" Mean of Age : {mean}")
print(f" Median of Age : {median}")
print(f" Mode of Age : {mode}")
print(f" Standard deviation of Age : {std:.2f}")
print(f" Maximum of Age : {maximum}")
print(f" Minimum of Age : {minimum}")

 Mean of Age : 48.857142857142854
 Median of Age : 47.0
 Mode of Age : 25
 Standard deviation of Age : 17.71
 Maximum of Age : 78
 Minimum of Age : 25

In [4]:
print(df.describe().T)

                count           mean         std       min         25%  \
Transaction_ID    7.0  152208.142857  928.992542  151200.0  151522.000
Age               7.0      48.857143   17.714670      25.0      38.500
Referal           7.0       0.571429    0.534522       0.0       0.000
Amount_spent      7.0    1605.512857  847.128399     250.5    1270.945

                      50%         75%        max
Transaction_ID  152000.00  152757.000  153699.00
Age                 47.00      57.500      78.00
Referal              1.00       1.000       1.00
Amount_spent      1500.67    1972.775    2999.98

In [5]:
# Calculate the correlation

data = {
'Hours Studied': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
'Exam Scores': [50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
}
df = pd.DataFrame(data)

correlation = df['Hours Studied'].corr(df['Exam Scores'])
print("Correlation between Hours Studied and Exam Scores:", correlation)

Correlation between Hours Studied and Exam Scores: 1.0

In [11]:
# Printing the number of Unique values

import pandas as pd
csv_file_path = 'students_data.csv' 
df = pd.read_csv(csv_file_path)

print(df['Age'].nunique())

7

In [13]:
# printing all the unique values

print(df['Age'].unique())

[45 47 60 32 78 55 25]

In [15]:
# count of all the unique values and its %

print(df['Referal'].value_counts())
print(df['Referal'].value_counts(normalize=True))

Referal
1    4
0    3
Name: count, dtype: int64
Referal
1    0.571429
0    0.428571
Name: proportion, dtype: float64

In [18]:
# sort values by a specific column

print("youngest :\n")
print(df.sort_values(by=['Age']).head(3))
print("oldest :\n")
print(df.sort_values(by=['Age'],ascending=False).head(3))

youngest :

   Transaction_ID  Age  Referal  Amount_spent
6          151800   25        0       2045.56
3          153699   32        1        250.50
0          152443   45        1       1200.45
oldest :

   Transaction_ID  Age  Referal  Amount_spent
4          151200   78        1       2999.98
2          153071   60        1       1500.67
5          152000   55        0       1899.99

In [19]:
# display the largest values

print(df.nlargest(4, 'Amount_spent'))

   Transaction_ID  Age  Referal  Amount_spent
4          151200   78        1       2999.98
6          151800   25        0       2045.56
5          152000   55        0       1899.99
2          153071   60        1       1500.67

In [20]:
# display the smallest values

print(df.nsmallest(4, 'Amount_spent'))

   Transaction_ID  Age  Referal  Amount_spent
3          153699   32        1        250.50
0          152443   45        1       1200.45
1          151244   47        0       1341.44
2          153071   60        1       1500.67

In [22]:
# Conditional queries on Data

condition = df['Referal'] == 1
df[condition].head(4)

   Transaction_ID  Age  Referal  Amount_spent
0          152443   45        1       1200.45
2          153071   60        1       1500.67
3          153699   32        1        250.50
4          151200   78        1       2999.98

In [23]:
# Multiple Conditional queries on Data

Age = df['Age'] > 50
Referal = df['Referal'] == 1
Amount_spent = df['Amount_spent'] > 1000

print(df[Age & Referal & Amount_spent].head(3))

   Transaction_ID  Age  Referal  Amount_spent
2          153071   60        1       1500.67
4          151200   78        1       2999.98

In [24]:
# Group by single column

df[['Age', 'Amount_spent']].groupby(df['Referal']).max()

         Age  Amount_spent
Referal
0         55       2045.56
1         78       2999.98

In [26]:
# aggrigate function

# To find mean, count, and max values of Age and Amount_spent by Gender then we can
# use the agg() function with groupby().

df[['Age','Amount_spent']].groupby(df['Referal']).agg(['count', 'mean', 'max'])

          Age                Amount_spent
        count       mean max        count     mean      max
Referal
0           3  42.333333  55            3  1762.33  2045.56
1           4  53.750000  78            4  1487.90  2999.98

In [27]:
# Group by multiple columns

state_gender_res = df[['Transaction_ID','Age','Referal','Amount_spent']].groupby(['Age','Referal']).agg(['count','min','max'])

print(state_gender_res.head(4))

            Transaction_ID                 Amount_spent
                     count     min     max        count      min      max
Age Referal
25  0                    1  151800  151800            1  2045.56  2045.56
32  1                    1  153699  153699            1   250.50   250.50
45  1                    1  152443  152443            1  1200.45  1200.45
47  0                    1  151244  151244            1  1341.44  1341.44

In [28]:
# Cross Tabulation (Crosstab)

# It will help to understand the correlation between different variables.

print(pd.crosstab(df.Age, df.Referal))

Referal  0  1
Age
25       1  0
32       0  1
45       0  1
47       1  0
55       1  0
60       0  1
78       0  1

In [30]:
# include subtotals by margins parameter and display with percentage using normalize

print(pd.crosstab(df.Age,df.Referal,normalize=True,margins=True,margins_name="Total"))

Referal         0         1     Total
Age
25       0.142857  0.000000  0.142857
32       0.000000  0.142857  0.142857
45       0.000000  0.142857  0.142857
47       0.142857  0.000000  0.142857
55       0.142857  0.000000  0.142857
60       0.000000  0.142857  0.142857
78       0.000000  0.142857  0.142857
Total    0.428571  0.571429  1.000000